<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Galaxy Insurance</title>
  </head>
  <body>
      <%- include('partials/navbar.ejs') %>
      <ul>
        <li>Your name: <%= name %></li>
        <li>Your address: <%= address %></li>
        <li>Your email: <%= email %></li>
        <li>Your premium: <%= premium %></li>
      </ul>
  </body>
</html>