<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Super Insurance</title>
</head>
<body>
<%- include('partials/navbar.ejs') %>

<H1>HOMEPAGE USER</H1>
<p id="username"></p>
<p id="profile"></p>

<div class="buttons">
  <button onClick = "modification (event)">Modification profile</button>
</div>

<H2>Your quotes : </H2>
<div id="subscribe_quotes">
    <h3>Contracts :</h3>
<% for (quote of subscribe_quote) { %>
  <li>
      ID N°: <%= quote.id %>, <br/>
      Base price : <%= quote.basePrice %>,<br/>
      Deduction damage from third party : <%= quote.deductionDamageFromThirdParty %>,<br/>
      Deduction damage to self : <%= quote.deductionDamageToSelf %>,<br/>
      Price breakdown and rescue : <%= quote.priceBreakDownAndRescue %>,<br/>
      Created at : <%= quote.createdAt %>,<br/>
      Paid at: <%= quote.updatedAt %>,<br/>
      Expired at : <%= quote.expiredAt %><br/>
      Renewal : <%= quote.renewal %><br/>
      Payment period : <%= quote.paymentPeriod %>
  </li>
    <form action="/contract/download" method="post">
        <input name="id" value="<%= quote.id %>" hidden>
        <button type="submit">Download contract</button>
    </form>
        <% if(quote.renewal){ %>
            <form action=/quote/renewal method="post">
                <input name="id" value="<%= quote.id %>" hidden>
                <button type="submit">Desactivate renewal</button>
            </form>
        <% } else{ %>
            <form action=/quote/renewal method="post">
                <input name="id" value="<%= quote.id %>" hidden>
                <button type="submit">Activate renewal</button>
            </form>
        <% } %>
  <% if(Math.floor((new Date().getTime() - quote.updatedAt.getTime() )/ (1000 * 3600 * 24)) < 14) {%>
      <form action="/quote/delete" method="post">
          <input name="id" value="<%= quote.id %>" hidden>
          <label for="renounce">You have <%= 14 - Math.floor((new Date().getTime() - quote.updatedAt.getTime() )/ (1000 * 3600 * 24))%> days left to renounce:</label>
          <button id="renounce" type="submit">Renounce</button>
      </form>
  <% } %>
        <br/>
<% } %>

</div>

<div id="unsubscribe_quotes">
    <h3>Quotes :</h3>
<% for (quote of unsubscribe_quote) { %>
        <li>
            ID N°: <%= quote.id %>, <br/>
            Base price : <%= quote.basePrice %>, <br/>
            Deduction damage from third party : <%= quote.deductionDamageFromThirdParty %>, <br/>
            Deduction damage to self : <%= quote.deductionDamageToSelf %>, <br/>
            Price breakdown and rescue : <%= quote.priceBreakDownAndRescue %> <br/>
            Created at : <%= quote.createdAt %>
        </li>
      <form action=/quote/subscribe method="post">
        <input name="id" value="<%= quote.id %>" hidden>
        <button type="submit">Subscribe</button>
      </form>
      <form action="/quote/delete" method="post">
        <input name="id" value="<%= quote.id %>" hidden>
        <button type="submit">Delete</button>
      </form>
<% } %>
</div>

<div id="sinister">
    <h3>List sinister :</h3>
    <% for (sinister of list_sinister) { %>
        <li>
          QuoteId : <%= sinister.quoteId %><br/>
          description : <%=sinister.description %> <br/>
          accident date : <%=sinister.accidentDate %><br/>
          report date : <%=sinister.reportedDate %><br/>
          <br/>
        </li>
    <% } %>
</div>

<script>
  const response = fetch("/profile", {
    method: 'GET',
    headers: { "Authorization": "Bearer " + getCookie("team_galaxy_access_token") }
  }).then(response => {
    if(!response.ok){
      location.href = "/";
    }
    return response.json();
  }).then(data => {
    document.getElementById("username").innerHTML = "HELLO " + data.username;
    document.getElementById("profile").innerHTML = "Your profile is : " + "<br>" + "UserName : " + data.username + "<br>"
            + "Email : " + data.email + "<br>" + "Address : " + data.address + "<br>" + "Phone Number : " + data.phoneNumber;

  }).catch(err => {
    throw err
  });
</script>

<script>
  const modification = e => {
    e.preventDefault();
    location.href = 'userhome/modification/profile';
  }

  const renounceButton = document.getElementById("renounce");
  renounceButton.addEventListener("click", async (e) => {
      alert("You have renounced to this quote ")
  })
</script>

</body>
</html>