<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Super Insurance</title>
</head>
<body>
<%- include('partials/navbar.ejs') %>

<H1>HOMEPAGE USER</H1>
<p id="username"></p>
<p id="profile"></p>

<div class="buttons">
  <button onClick = "modification (event)">Modification profile</button>
</div>

<H2>Your quotes : </H2>
<div id="_quotes">
    <h3>Subscribed Quotes :</h3>
<% for (quote of subscribe_quote) { %>
  <li>
      ID N°: <%= quote.id %>
      Base price : <%= quote.basePrice %>,
      Deduction damage from third party : <%= quote.deductionDamageFromThirdParty %>,
      Deduction damage to self : <%= quote.deductionDamageToSelf %>,
      Price breakdown and rescue : <%= quote.priceBreakDownAndRescue %>,
      Created at : <%= quote.createdAt %>
      Paid : <%= quote.updatedAt %>
  </li>
<% } %>

</div>

<div id="unsubscribe_quotes">
    <h3>Unsubscribed Quotes :</h3>
<% for (quote of unsubscribe_quote) { %>
        <li>
            ID N°: <%= quote.id %>
            Base price : <%= quote.basePrice %>,
            Deduction damage from third party : <%= quote.deductionDamageFromThirdParty %>,
            Deduction damage to self : <%= quote.deductionDamageToSelf %>,
            Price breakdown and rescue : <%= quote.priceBreakDownAndRescue %>
            Created at : <%= quote.createdAt %>
        </li>
    <% if (!quote.isSubscribe) { %>
      <form action=/quote/subscribe method="post">
        <input name="id" value="<%= quote.id %>" hidden>
        <button type="submit">Subscribe</button>
      </form>
    <% } %>
  </li>
<% } %>
</div>

<script>
  const response = fetch("/profile", {
    method: 'GET',
    headers: { "Authorization": "Bearer " + sessionStorage.getItem("team_galaxy_access_token") }
  }).then(response => {
    if(!response.ok){
      location.href = "/";
    }
    return response.json();
  }).then(data => {
    document.getElementById("username").innerHTML = "HELLO " + data.username;
    document.getElementById("profile").innerHTML = "Your profile is : " + "<br>" + "UserName : " + data.username + "<br>"
            + "Email : " + data.email + "<br>" + "Address : " + data.address + "<br>" + "Phone Number : " + data.phoneNumber;

  }).catch(err => {
    throw err
  });
</script>

<script>
  const modification = e => {
    e.preventDefault();
    location.href = 'userhome/modification/profile';
  }
</script>

</body>
</html>